# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# compiled Pyhton files
__pycache__/
*.py[cod]

# environment files
*.env

# test certificate
*.pem

# log files
npm-debug.log*

# ignore VS Code settings
.vscode/

# desktop settings and thumbnails
.DS_Store
desktop.ini
thumbs.db
